.AuthPage{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 100%;
}

.text{
    font-size: 50px;
    line-height: 60px;
    text-align: center;
    margin: 220px;
}

.AuthPageLeft{
    grid-column: 1/2;
    background: linear-gradient(-60deg, #97C397, #D7F2BA, #BDE4A8, #9CC69B, #79B4A9, #97C397);
    background-size: 200%, 200%;
    position: relative;
    animation: gradient 5s ease-in-out infinite;
}

.AuthPageRight{
    grid-column: 2/4;
    margin: auto;
}

.HiddenAuth {
    display: none;
}

span{
    margin: 8px 0;
    width: 60%;
    border-radius: 25px;
    padding: 12px 20px;
    margin: 10px;
    font-size: 20px;
    border: none;
    background-color: black;
    color: white;
}


span:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

@keyframes gradient {
    0% {
        background-position: 0 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0 50%;
    }
}

@media only screen and (max-width: 768px) {
    .AuthPageLeft{
        display: none;
    }

    .AuthPageRight{
        grid-column: 1/4;
    }

    .HiddenAuth{
        display: inline;
        grid-column: 1/4;
    }

  }